main {
    padding: 10px;
    text-align: center;
}

.hero {
    width: 80vw;
}

form p {
    margin: 10px 0;
}

main p.errors, .user-display {
    margin-top: 20px;
    text-align: center;
}

.errors {
    font-family: monospace;
    color: red;
}

.no-display {
    display: none;
}

label {
    display: inline-block;
    width: 80px;
}